<%- include('partials/header', {title: "Home"}) %>

<div class="container text-center mt-5">
  <h1>Selamat Datang di Fint8</h1>
  <h3>Silakan Masuk Sebagai</h3>
  <div>
    <a class="btn btn-primary" href="/vendor" role="button">Vendor</a>
    <a class="btn btn-primary" href="/buyer" role="button">Buyer</a>
  </div>
</div>    

<%- include('partials/footer') %>